modules = ["nodejs-20", "python-3.12", "bash"]
run = "npm start"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm start"]

[workflows]
runButton = "Ejecutar Bot Limpio"

[[workflows.workflow]]
name = "Ejecutar Bot"
author = 45842147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"

[[workflows.workflow]]
name = "Ejecutar Bot Limpio"
author = 45842147
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install --legacy-peer-deps"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
